.scrollToTop{display:none;position:fixed;bottom:20px;right:30px;z-index:99;border:none;outline:none;background-color:red;color:#fff;cursor:pointer;padding:15px;border-radius:10px;font-size:18px}.scrollToTop:hover{background-color:#555;text-decoration:none}